@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  color: #9a9c9e;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: repeat-y;
}

.bg img {
  position: fixed;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

nav {
  width: 100vw;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  min-height: 450px;
  font-size: 16px;
  border-radius: 25px;
  background-color: #222528;
}

.search {
  margin-bottom: 2em;
}

input[type="text"],
input:focus {
  border: none;
  outline: none;
  text-align: center;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background-color: #8ca926;
}
